* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas:
  'search search'
  'menu container';
  grid-template-columns: 1fr 5fr;
  background: #141527;
  color: #FFFFFF;
  height: 100%;
  text-align: center;
  width: 100%;
}
